.icon-garbage_icon:before {
  content: "\e800";
} /* '' */
.icon-search-icon:before {
  content: "\e801";
} /* '' */
.icon-chackmark:before {
  content: "\e802";
} /* '' */
.icon-create-account:before {
  content: "\e803";
} /* '' */
.icon-edit-pen:before {
  content: "\e804";
} /* '' */
.icon-send:before {
  content: "\e805";
} /* '' */
